# this commit represents the point at which https://github.com/pangeo-forge/pangeo-forge-recipes/pull/557
# was merged into `main`. we are installing from here to unblock the climsim `mli` recipe added in
# https://github.com/leap-stc/data-management/pull/33 (see PR discussion for details).
# once a `0.10.1` release of `pangeo-forge-recipes` is available that includes this fix, we should
# install from that release instead.
git+https://github.com/pangeo-forge/pangeo-forge-recipes.git@2739f2264ec385eadd3c73226fb85f5cdbf32a1a
