# this commit represents the point at which https://github.com/pangeo-forge/pangeo-forge-recipes/pull/548
# was merged into `main`. we are installing from here to unblock the climsim `mli` recipe added in
# https://github.com/leap-stc/data-management/pull/33 (see PR discussion for details).
# once a `0.10.1` release of `pangeo-forge-recipes` is available that includes this fix, we should
# install from that release instead.
git+https://github.com/pangeo-forge/pangeo-forge-recipes.git@6eab39f26d1d2ee63dc17f69c2fd582d605d2ad6
