name: Catalog

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
#   schedule:
#     - cron: '0 0 * * *' # Daily “At 00:00” UTC

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generate-and-validate:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
      - name: set up conda environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ci/environment.yaml
          init-shell: >-
            bash
          cache-environment: true
          cache-downloads: true
          post-cleanup: "all"
      - name: Validate schema
        run: |
          cd catalog/validator
          python schema.py

      - name: Validate datasets
        run: |
          cd catalog/validator
          python validate.py --path ../datasets

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: consolidated-web-catalog.json
          path: catalog/datasets/consolidated-web-catalog.json

  update:
    needs: generate-and-validate
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Pull Remote Changes
        run: |
          git pull origin ${{ github.head_ref }} --rebase

      - name: set up conda environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ci/environment.yaml
          init-shell: >-
            bash
          cache-environment: true
          cache-downloads: true
          post-cleanup: "all"

      - uses: actions/download-artifact@v4
        with:
          name: consolidated-web-catalog.json
          path: catalog/datasets

      - name: Fix formatting
        run: |
          pre-commit install
          git add catalog/datasets/consolidated-web-catalog.json
          # run pre-commit and return 0 to avoid failing the job
          pre-commit run || true

      - name: Commit and Push
        uses: github-actions-x/commit@v2.9
        with:
          # github-token: ${{ secrets.GITHUB_TOKEN }}
          push-branch: ${{ github.head_ref }}
          commit-message: "Auto-update consolidated-web-catalog.json"
          # force-add: 'true'
          files: catalog/datasets/consolidated-web-catalog.json
          name: github-actions
          email: noreply@github.com
