name: Catalog

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
#   schedule:
#     - cron: '0 0 * * *' # Daily “At 00:00” UTC

permissions:
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generate-and-validate:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
      - name: set up conda environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ci/environment.yaml
          init-shell: >-
            bash
          cache-environment: true
          cache-downloads: true
          post-cleanup: "all"
      - name: Validate schema
        run: |
          cd catalog/validator
          python schema.py

      - name: Validate datasets
        run: |
          cd catalog/validator
          python validate.py --path ../datasets

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: consolidated-web-catalog.json
          path: catalog/datasets/consolidated-web-catalog.json

  update:
    needs: generate-and-validate
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    environment:
      name: ${{ github.ref == 'refs/heads/main' && 'production' || github.head_ref }}
      url: ${{ github.ref == 'refs/heads/main' && 'https://leap-data-catalog.vercel.app/?catalog=https://raw.githubusercontent.com/leap-stc/data-management/main/catalog/datasets/consolidated-web-catalog.json' || format('https://leap-data-catalog.vercel.app/?catalog=https://raw.githubusercontent.com/leap-stc/data-management/{0}/catalog/datasets/consolidated-web-catalog.json', github.head_ref) }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
          # ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Pull Remote Changes
        run: |
          git pull origin ${{ github.head_ref }} --rebase --autostash

      - name: set up conda environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ci/environment.yaml
          init-shell: >-
            bash
          cache-environment: true
          cache-downloads: true
          post-cleanup: "all"

      - uses: actions/download-artifact@v4
        with:
          name: consolidated-web-catalog.json
          path: catalog/datasets

      - name: Commit and Push
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          pre-commit install
          git add catalog/datasets/consolidated-web-catalog.json
          # run pre-commit and return 0 to avoid failing the job
          pre-commit run || true
          git add catalog/datasets/consolidated-web-catalog.json || true
          git commit -m "Auto-update consolidated-web-catalog.json" || true

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          # ssh: true
          branch: ${{ github.head_ref }}
